body {
    margin: 0;
    padding: 0;
}

#whole {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: rgb(6, 1, 44);
}

a {
    text-decoration: none;
}

#logo a img {
    height: 100%;
    float: left;
}