:root {
    --left_card: 30%;
    --middle_card: 40%;
    --right_card: 30%;
}
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

#whole {
    width: 100%;
    height: 100%;
}

header {
    height: 50px;
    padding: 12px;
    background-color: #111517fa;
}

#body {
    height: fit-content;
    padding: 12px;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

.fa {
    color: lightgray;
}

#head, #cards {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: bold;
    font-size: 3rem;
    width: var(--left_card);
}

#logo a {
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#head #search {
    width: var(--middle_card);
}

#bar {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #272C32;
    padding: 8px;
    font-weight: 400;
    font-size: 2rem;
    width: 100%;
}

input[type='search'], input[type='search']:focus {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0.5rem;
    color: white;
    flex-grow: 1;
}

#tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: var(--right_card);
    font-size: 1.75rem;
}

#tools button {
    height: 30px;
    min-width: 70px;
    border-radius: 4px;
    background-color: #FCFCFE;
    border: none;
}

#tools button, #tools button i {
    color: #0c0c0d;
    font-weight: 700;
    font-size: 1.15rem;
}

.card {
    width: 97%;
    height: fit-content;
    background-color: #171C1F;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 40);
    padding: 1.5rem;
    color: white;
    font-size: 1.75rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#left {
    width: var(--left_card);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#middle {
    width: var(--middle_card);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right {
    width: var(--right_card);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 24px;
    height:24px;
    object-fit: contain;
}

.left_card_titles {
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.card i {
    font-weight: bold;
}

.events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.events:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.events > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card > div {
    width: 100%;
}

#tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#tabs > div {
    display: flex;
    gap: 8px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    align-items: flex-end;
}

#tabs > div > a {
    display: block;
    width: fit-content;
    font-size: 1.5rem;
    padding: 8px;
}

#active_tab {
    border-bottom: 2px #7A84FF solid;
    color: #7A84FF;
}

#active_filter {
    background-color: #7A84FF;
}

#tabs > div > a:hover {
    background-color: transparent;
}

#filter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
    border-top: 1px white solid;
    margin-top: -2px;
    padding-top: 8px;
}

.filter_button {
    border-radius: 2rem;
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 0.75rem 1.75rem;
}

/* The Middle Card */
/* Headers and Bodies (matches) */

.middle_item_header {
    padding: 12px 0px;
    border-bottom: 1px white solid;
}

.middle_item_header > div {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}

.logo_and_region {
    width: 100%;
    display: flex;
    font-size: 1rem;
    gap: 1.2rem;
    border-right: 1px white solid;
}

.logo_and_region > div:has(img) {
    display: flex;
    justify-content: center;
    width: 40px;
}

.logo_and_region > div:has(a) {
    width: fit-content;
}

.middle_item_header > div div:has(i) {
    width: fit-content;
    align-self: center;
}

.item_region, .item_desc {
    display: block;
    font-weight: bold;
}

.item_region {
    color: gray;
}

.item_region:hover, .item_desc:hover {
    display: block;
    font-weight: bold;
    color: #7A84FF;
}

.match {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.match:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.match > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.time {
    text-align: center;
    width: 40px;
    font-size: 1rem;
}

.time > div {
    width: 100%;
}

.scores {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-weight: bold;
    border-right: 1px white solid;
    padding-right: 1rem;
}